.DS_Store
cinema-venv
logs
.env
GUIDE.md

cinema_dw/dbt_packages/
cinema_dw/logs/
cinema_dw/target/
cinema_dw/.env
cinema_dw/package-lock.yml
cinema_dw/.user.yml
cinema_dw/package-lock.yml

cinema_dw/analyses/.gitkeep
cinema_dw/macros/.gitkeep
cinema_dw/seeds/.gitkeep
cinema_dw/snapshots/.gitkeep
cinema_dw/tests/.gitkeep